<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Custom CSS -->
    <style>
      /* Custom styles */
      body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .header {
        background-color: #343a40;
        color: #ffffff;
        padding: 10px 0;
        text-align: left; /* Align text to left */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center vertically */
        padding-left: 20px; /* Add left padding */
      }

      .header h1 {
        margin-bottom: 0; /* Remove margin bottom for h1 */
      }

      .header i {
        margin-right: 10px; /* Add margin between icon and text */
      }

      .nav {
        margin-left: auto; /* Move nav items to the right */
        margin-right: 20px; /* Add right margin to nav items */
      }
      .navbar-nav .nav-item .nav-link {
        color: #ffffff;
        transition: color 0.3s;
      }
      .navbar-nav .nav-item .nav-link:hover {
        color: #ffc107;
      }

      .container {
        max-width: 600px;
        margin: 150px auto; /* Adjust top margin to center more accurately */
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-group label {
        font-weight: bold;
      }

      .form-control {
        border-radius: 0;
      }

      .footer {
        background-color: #343a40;
        color: #ffffff;
        padding: 1rem 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      .footer p {
        margin-bottom: 0;
      }

      .btn-primary {
        border-radius: 0;
        background-color: #007bff;
        border: none;
      }

      .btn-primary:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h1><i class="fas fa-cut"></i> Scissors</h1>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/shorturl/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shorturl/logout">Logout</a>
          <!-- Add your other item -->
        </li>
      </ul>
    </div>
    <div class="container">
      <h2 class="text-center mb-4">Shorten Your URL</h2>
      <form action="/shorturl/createurl" method="POST">
        <div class="form-group">
          <label for="fullUrl">Long URL (required) </label>
          <input
            type="url"
            class="form-control"
            id="fullUrl"
            name="fullUrl"
            required
          />
        </div>
        <div class="form-group">
          <label for="alias">Alias (Optional)</label>
          <input type="text" class="form-control" id="alias" name="alias" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Shorten URL
        </button>
      </form>
    </div>
    <div class="footer">
      <p>&copy; 2024 Scissors</p>
    </div>
    <!-- Font Awesome Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  </body>
</html>
